@font-face {
  font-family: "Roboto";
  src: url("./asset/Roboto/Roboto-Regular.ttf") format("truetype");
}

* {
  box-sizing: border-box;
  cursor: default;
  font-family: "Roboto";
}

html,
body {
  width: 100%;
  height: 100%;
  margin: 0 0;
  padding: 0 0;
}

div.outer {
  background: rgb(250, 250, 250);
  box-shadow: 0 0 4px black;
  width: 200px;
  height: 106px;
  display: flex;
  flex-direction: column;
  border-radius: 4px;
}

input {
  font-size: 14px;
  padding: 2px 2px;
  margin: 0 auto 10px auto;
  border-radius: 4px;
  width: 180px;
  height: 24px;
  line-height: 24px;
  background: white;
  border-color: #14004f;
  transition: all 0.2s;
  outline-color: #a179b9;
  transition: all 0.3s;
}

input:disabled {
  user-select: none;
  color: #929292;
}

button#change {
  width: 180px;
  margin: 0 auto;
  height: 28px;
  border: none;
  background-image: radial-gradient(
    circle at 8.37% 61.15%,
    #93417b 0,
    #843575 16.67%,
    #72256e 33.33%,
    #5c1064 50%,
    #45005b 66.67%,
    #2e0054 83.33%,
    #14004f 100%
  );
  color: white;
  font-size: 14px;
  border-radius: 4px;
  transition: all 0.3s;
  position: relative;
}

button#change:hover {
  box-shadow: 0 2.5px 6px #565454;
}

button#change:focus,
button#change:active {
  outline: none;
  box-shadow: none;
}

button#change.loading {
  background: #2e0054;
  color: #a179b9;
}
button#change.loading .loader {
  display: block;
}

.top {
  display: flex;
  margin-top: 10px;
  margin-bottom: 10px;
  flex-direction: row;
}

#quit {
  margin-left: auto;
  margin-right: 12px;
  font-size: 12px;
  width: 14px;
  height: 14px;
  overflow: hidden;
  border-radius: 2px;
  position: relative;
}
#quit div {
  position: absolute;
  top: 7px;
  left: 7px;
  width: 100px;
  height: 1.5px;
  transform-origin: center center;
  background-color: #45005b96;
}
#quit div:first-child {
  transform: translate(-50%, -50%) rotate(45deg);
}
#quit div:last-child {
  transform: translate(-50%, -50%) rotate(135deg);
}

#error {
  display: inline-block;
  opacity: 0;
  position: absolute;
  font-size: 16px;
  font-weight: bolder;
  text-align: center;
  right: 14px;
  top: 5px;
  height: 18px;
  width: 18px;
  border-radius: 18px;
  line-height: 18px;
  color: white;
  background: red;
  transition: all .3s;
}

#error.visible {
  opacity: 1;
}

/* spinner https://projects.lukehaas.me/css-loaders/ */
.loader {
  display: none;
  color: #ffffff;
  font-size: 2px;
  width: 1em;
  height: 1em;
  border-radius: 50%;
  position: relative;
  text-indent: -9999em;
  animation: load4 1.3s infinite linear;
  transform: translateZ(0);
  position: absolute;
  top: 14px;
  right: 22px;
}
@keyframes load4 {
  0%,
  100% {
    box-shadow: 0 -3em 0 0.2em, 2em -2em 0 0em, 3em 0 0 -1em, 2em 2em 0 -1em,
      0 3em 0 -1em, -2em 2em 0 -1em, -3em 0 0 -1em, -2em -2em 0 0;
  }
  12.5% {
    box-shadow: 0 -3em 0 0, 2em -2em 0 0.2em, 3em 0 0 0, 2em 2em 0 -1em,
      0 3em 0 -1em, -2em 2em 0 -1em, -3em 0 0 -1em, -2em -2em 0 -1em;
  }
  25% {
    box-shadow: 0 -3em 0 -0.5em, 2em -2em 0 0, 3em 0 0 0.2em, 2em 2em 0 0,
      0 3em 0 -1em, -2em 2em 0 -1em, -3em 0 0 -1em, -2em -2em 0 -1em;
  }
  37.5% {
    box-shadow: 0 -3em 0 -1em, 2em -2em 0 -1em, 3em 0em 0 0, 2em 2em 0 0.2em,
      0 3em 0 0em, -2em 2em 0 -1em, -3em 0em 0 -1em, -2em -2em 0 -1em;
  }
  50% {
    box-shadow: 0 -3em 0 -1em, 2em -2em 0 -1em, 3em 0 0 -1em, 2em 2em 0 0em,
      0 3em 0 0.2em, -2em 2em 0 0, -3em 0em 0 -1em, -2em -2em 0 -1em;
  }
  62.5% {
    box-shadow: 0 -3em 0 -1em, 2em -2em 0 -1em, 3em 0 0 -1em, 2em 2em 0 -1em,
      0 3em 0 0, -2em 2em 0 0.2em, -3em 0 0 0, -2em -2em 0 -1em;
  }
  75% {
    box-shadow: 0em -3em 0 -1em, 2em -2em 0 -1em, 3em 0em 0 -1em, 2em 2em 0 -1em,
      0 3em 0 -1em, -2em 2em 0 0, -3em 0em 0 0.2em, -2em -2em 0 0;
  }
  87.5% {
    box-shadow: 0em -3em 0 0, 2em -2em 0 -1em, 3em 0 0 -1em, 2em 2em 0 -1em,
      0 3em 0 -1em, -2em 2em 0 0, -3em 0em 0 0, -2em -2em 0 0.2em;
  }
}
